.blue { color: #4594da; }
.white { color: white; }
.dark { color: #10171e; }
.grey { color:  #8899a6; }

.bold { font-weight: bold; }

.body { font-size: 14px; }
.big { font-size: 16px; }
.small { font-size: 12px; }

