.card {
	display: flex;
	flex-direction: row;
	background: #171f2a;
	color: #fff;
}

.img-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.txt-container {
	display: flex;
	flex: 9;
	flex-direction: column;
}