.card {
	display: flex;
	flex-direction: row;
	background: #171f2a;
	color: #fff;
	padding: 9px 12px;
}

.img-container {
	display: flex;
	/*flex: 0.5;*/
	margin-right: 16px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.flex { display: flex; }

.row { flex-direction: row; }
.column { flex-direction: column; }

.margin-right { margin-right: 8px; }