.navbar {
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 46px;
	justify-content: center;
	align-items: center;
	background: #1c2938;
}

.icon {
	width: auto;
	height: 20px;
}