body {
	background: #10171e;
}

.content {
	margin-top: 60px;
	padding: 0 20vw;
}

/* flexbox */
.flex {
	display: flex;
}

.row { flex-direction: row; }
.column { flex-direction: column; }

.align-items-center { align-items: center; }

.justify-content-center { justify-content: center; }
.justify-content-space-between { justify-content: space-between; }

/* margins */

.margin-right { margin-right: 8px; }